.App {
    text-align: center;
    font-family: Arial;
  }
  
  /* The answer selected by the user */
  .selected {
    background-color: orange;
  }
  
  /* The list of options */
  .options {
    padding: 8px;
    border: 2px solid #000;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
  }
  
  body {
    font-family: Verdana;
    font-size: 18px;
    background-color: purple;
  }
  
  .banner {
    background-color: bisque;
    width: 100%; 
    height: 100px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: auto;

  }
  